*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgb(243, 243, 230);
    font-family: Arial, Helvetica, sans-serif;
}
.page-container{
    position: relative;
}

a{
    color: rgba(48, 14, 33, 0.863);
    text-decoration: none;
}

li{
    list-style-type: none;
    display: inline;
    padding: 1.2em;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(243, 243, 230);
    width: 100%;
}

.form-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        margin-top: 68px;
      }

      input[type="email"] {
        max-width: 275px;
        width: 100%;
        padding: 5px;
        margin: 22px 0px 0px 0px;
        text-align: center;
      }
      
      input[type="submit"] {
        max-width: 150px;
        width: 100%;
        height: 30px;
        margin: 10px 0;
        border: 0;
        background-color:rgba(48, 14, 33, 0.863);
        color: rgb(243, 243, 230);
        font-weight: 400;
        text-transform: uppercase;
      }
     
section{
    width: 100%;
    display: grid;
   justify-content: center;
   align-content: center;
   gap: 15px;
   grid-template-columns: repeat(3, auto);
}

.image-para{
    color: rgba(48, 14, 33, 0.863);
    font-family: monospace;
    border: 5px whitesmoke solid;
}

.engaging-video{
    text-align: center;
    margin: 50px 0px 0px 0px;
}

.party-shoe-container{
    margin: 35px 0px 0px 0px;
    text-align: center;
}

.margin-bottom{
    margin-bottom: 20px;
}